*{border: 1px solid rgba(0,0,0,0.3)}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
}

body {
    background-color: #471F30;
    with: 95%;
    margin: 0 auto;
}

#content {overflow: auto;}


/* Banner Section */

#banner {
  background-image: url('bridgers.jpeg');
  background-position: center;
  height: 46rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background-size: cover;
}

#banner h1 {
  font-weight: 400;
  color: white;
  font-size: 3.75rem;
}

/* page content */
#feature, #footer {
  margin: 1%
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
    text-align: center;
    font-weight: 200;
    color: white;
    font-size: 1.75rem;
}

h2 {
    text-align: center;
    font-weight: 250;
    color: white;
    font-size: 1.5rem;
}

h4 {
    color: white;
}
p {
  margin-bottom: 7.5%;
  margin-top: 7.5%;
  width: 100%;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  line-height: 1.8;
  color: #D4B437;
}

.full-container {
  text-align: center;
  display:inline-block;
  width: 100%;
  height: auto;
}

.links-container p {
background-color: #D4B437;
  width: 100%;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  line-height: 1.8;
  color: #471F30;
}

#lbpic {
  height:auto;
  max-width: 45%;
  float:center;
  object-fit: contain;
  margin-left: auto;
}

#kskpic {
  height:auto;
  max-width: 75%;
  float:center;
  object-fit: contain;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
}

.biopic-container {
  text-align: center;
  display:inline-block;
  max-width: 100%;
  height: auto;
}

.image-container1{
  height: auto;
  max-width: 48%;
  float:right;
  object-fit: contain;
  margin-left: auto;
}

.text-container1{
  height:auto;
  max-width: 48%;
  float:left;
  object-fit: contain;
  margin-left: auto;
}

.image-container2{
  height:auto;
  max-width: 48%;
  float:left;
  object-fit: contain;
  margin-left: auto;

}
.text-container2{
  height:auto;
  max-width: 48%;
  float:right;
  object-fit: contain;
  margin-left: auto;
}

/* Footer */

.footer {
  padding: 4rem 0;
  border-top: 20px solid #999999;
  font-size: 1.125rem;
}

/* for secondary pages */
.column1of2{
  float: left;
  width: 48%;
  margin: 10px;
  }

.column2of2 {
  float:right;
  width: 48%;
  margin:10px;
}
